@model List<SchoolManegement.Models.Subject>
@{
    ViewData["Title"] = "Home Page";
}
@{
    int cd = 0;
}
<div class="jumbotron">

    <table>

        @foreach (var i in Model)
        {
        <tr>
            <td><h2>Task For: @i.Num Date</h2></td>


            <td> Name : @i.Name</td>
            <td>Description:@i.Description</td>
            <td>
                @if (i.IsDone)
                {
                  <b>Task is done</b>   <a>@Html.ActionLink("reverse", "reverse", new { id = i.Id, p = false })</a>
                }
                else
                {<a>@Html.ActionLink("reverse", "reverse", new { id = i.Id, p = true })</a>}
</td>

            <td><a>@Html.ActionLink("Delete", "Delete", new { id = i.Id })</a></td>
            <td>@Html.ActionLink("EditTask", "EditTask", new { id = i.Id })</td>
        </tr>
            
        }

    </table>

    <P><a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="CSubj">Add new task</a></P>
</div>
